{% load django_bootstrap5 django_htmx static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block bootstrap5_title %}Demo App{% if debug %} - DEBUG{% endif %}{% endblock %}</title>
    {% bootstrap_css %}
    {% if 'javascript_in_head'|bootstrap_setting %}
        {% bootstrap_javascript %}
    {% endif %}
    {% block bootstrap5_extra_head %}
    <meta name="description" content="Demo App showcasing some functionality around HTMX and server sent events">
    <meta name="author" content="Dan Sloan <dan@luciddan.com>">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <script src="{% static 'htmx.min.js' defer %}"></script>
    <script src="{% static 'ext/sse.js' defer %}"></script>
    <script src="{% static 'ext/debug.js' defer %}"></script>
    <script src="{% static 'main.js' defer %}"></script>
    {% endblock %}
</head>
<body hx-ext="debug, sse">
{% block bootstrap5_before_content %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'home' %}">Demo App</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav flex-row flex-wrap">
  </div>
    <div class="navbar-nav flex-row flex-wrap">
        <div class="nav-item text-nowrap text-white">
          <a class="nav-link px-3" href="#">Sign out</a>
        </div>
    </div>
</header>
{% endblock bootstrap5_before_content %}
{% block bootstrap5_content %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% bootstrap_messages %}
    {% block page_content %}
    {% endblock %}
    </main>
  </div>
</div>
{% endblock bootstrap5_content %}
{% block bootstrap5_after_content %}
    {% block footer_content %}
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2023</span>
            </div>
        </div>
    </footer>
    {% endblock %}
{% endblock bootstrap5_after_content %}
<!-- Bootstrap JavaScript if it is in body -->
{% if not 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript %}
{% endif %}
{% block bootstrap5_extra_script %}
    {% django_htmx_script %}
{% endblock %}
</body>
</html>
